<!DOCTYPE html>
<html>

<head>
<% include ../templates/head.ejs %>
</head>

<body id="<%= pageId %>">

<div class="container-full img-background">
    <div class="vertical-center text-center dark-gray">
        <h1 class="center date">Monday, April 24, 2017</h1>
        <h3 class="center time">10:32 AM</h3>
    </div>
</div>

<% include ../templates/scripts.ejs %>
<script type="text/javascript">
</script>

</body>

</html>