<div class="container-full img-background">
    <div class="vertical-center text-center dark-gray">
        <h1 class="center date"></h1>
        <h3 class="center time"></h3>
    </div>
</div>

<% include ../templates/scripts.ejs %>