<!DOCTYPE html>
<html>

<head>
<% include partials/templates/head.ejs %>
</head>

<body id="<%= pageId %>">

<div style="width:100%">
    <p> <a style="margin:0 auto;" href="/switcher">Switching Tab</a> </p>
    <p> <a style="margin:0 auto;" href="/viewer">Viewing Tab</a> </p>
</div>

<% include partials/templates/scripts.ejs %>
<script type="text/javascript">
</script>

</body>

</html>



