body{
	background-color:white;
	color:#424242;
	font-family: Raleway, Arial, Helvetica, sans-serif;
	letter-spacing: 1.2px;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Raleway, Arial, Helvetica, sans-serif;
}

p, div {
	font-family: Raleway, Arial, Helvetica, sans-serif;
}

iframe {
	width: 100vw;
	height: 100vh;
}

.scrollable {
	overflow-y: scroll;
}

.vertical-center {
	position: relative;
	top:50%;
}

.loader>div {
    border: 1vw solid #f3f3f3; /* Light grey */
    border-top: 1vw solid #3498db; /* Blue */
    border-radius: 50%;
    width: 8vw;
    height: 8vw;
	display: inline-block;
	position: absolute;
    animation: spin 2s linear infinite;
	z-index: 10;
}

.loader {
	width: 100vw;
	height: 100vh;
	position: absolute;
}

.loader::before {
	content:"";
	position: fixed;
	left:0px;
	right:0px;
	width: 100vw;
	height: 100vh;
	background-color: #000000;
	opacity:.85;
	z-index: 5;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.viewer-content {
	position: absolute;
	z-index: 2;
}

.viewer2 {
	z-index: 1;
}

.container-full {
	width: 100vw;
	height: 100vh;
}

.text-center {
	text-align: center;
}

.center {
	margin:0 auto;
}

.img-background {	
	background: url(https://static.pexels.com/photos/9135/sky-clouds-blue-horizon.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}

.light-gray {
	color: #eeeeee;
}

.dark-gray {
	color: #222222;
}

.white {
	color: white;
}

.date {
	font-size: 3.5em; 
	padding-bottom: 15px;
	font-weight:900;
}

.time {
	font-size: 1.9em; 	
	font-weight:900;
}

.weather-container-full {
	position: relative;
	background: url(https://report.az/storage/news/2d24481fa1ef4a20e1a703f88f8400c4/aee96c6d-d63a-4f9a-897e-3213b477b5fe.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#222222;
	font-weight: 700;
}

.weather-container-full::before {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	height:100%;
	background-color: #FFFFFF;
	opacity: .7;
}

.weather-container {
	display: block;
	margin:0 auto;
}

.weather-sub-container {
	display: inline-block;
	margin:0 auto;
	position: relative;
	margin-bottom: 8vh;
}

.weather-last-update {
	position: absolute;
	font-size:.8em;
	font-weight: 700;
}

.weather-container {
	font-size: 2.8em;
}

.weather-city-name {
	font-weight: 900;
	font-size: 1.8em;
}

.weather-img {
	height: 10vh;
	width:auto;
}

.weather-hourly-container {
	display: inline-block;
	margin: 0 auto;
	position: relative;
}

.weather-hour-container {
	display: inline-block;
	margin:5px;
}

.hour-date {
	font-weight: 700;
	margin-bottom: 0;
}

.weather-max, .weather-min {
	display: inline;
	font-size: .4em;
	padding: 5px;
	border-radius: 5px;
}

.hour-weather-main {
	display: inline;
	font-size: .4em;
}

.list-sets-sub-container {
	width: 50vw;
}

.list {
	padding: 0;
	margin: 20px 0;
	border: #ddd solid 1px;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.07);
}

.list-title-container {
	width: 100%;
	border-bottom: #ddd solid 1px; 
	padding-left: 20px;
	padding-bottom: 5px;
	padding-top: 20px;
	margin-bottom: 5px;
}

.list-title {
	display: inline;
}

.new-list {
	padding: 0;
	margin: 20px 0;
	border: #ddd solid 1px;
	border-radius: 5px;
	cursor: pointer;
}

.new-list-title {
	padding: 15px;
	color:#ddd;
}

.new-list:hover {
	border-color: #444 solid 1px;
}

.new-list-title:hover {
	color:#444;
}

.list-subtitle {
	display: inline;
	position: absolute;
	right: 30px;
	color: #444444;
}

.list-content-container {
	padding: 0 0px 0 0px;
	list-style: none;
}

.list-content-container > li {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.list-checkbox-container {
	display: inline-block;
	width: 8%;
	vertical-align: top;
}

.list-text-container {
	display: inline-block;
	width: 75%;
}

.list-text {
	display: inline-block;
	width: 90%;
	margin-right: 5%; 
	cursor: pointer;
}

.list-number-container {
	display: inline-block;
	width: 6%;
	font-size: .9em;
	vertical-align: top;
	text-align: center;
}

.list-number-container > p {
	width: 100%;
}

.list-delete-container {
	display: inline-block;
	width: 3%;
	text-align: right;
	vertical-align: top;
	font-weight: 900;
	cursor: pointer;
}

.list-content-container>li:hover>.list-delete-container::before,
.list-group-item:hover>.list-delete-container::before {
	content:"X";
}

.input-checkbox {
	display: inline-block;
	position: relative;
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;	
  	outline: 0;
  	outline: none !important;
	outline-style: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
	cursor: pointer;
	width: 1.25rem;
  	height: 1.25rem;
}

.input-checkbox:checked {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;	
  	outline: 0;
  	outline: none !important;
	outline-style: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
}

.input-checkbox::before {
	content:"";
	position: absolute;
	width: 100%;
	height: 100%;
	border: 2px gray solid;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.input-checkbox:checked::before {
	height: 50%;
    transform: rotate(-45deg);
	border-color: green;
    border-top-style: none;
    border-right-style: none;
}

.add-button {
	display:none;
	text-align: center;
	background-color: #148a14;
	color:white;
	font-size: 1.6em;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 10px;
	margin-top: 0px;
	cursor: pointer;
}

.add-button:hover {
	background-color: #1bb21b;
}

.add-button:active {
	background-color: gray;
}

.add-button>span {
	margin: 0 auto;
	line-height: 30px;
}

.list:hover>.add-button {
	display:block;
}

.text-input {
	position:fixed;
	top:30px;
	margin:0 auto;
	background-color: white;
	border-radius: 15px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.07);
	padding:20px;
	z-index: 16;
	width:300px;
	left:calc(50vw - 150px);
	display: none;
}

.text-input>label {
	margin-bottom: 15px;
}

.shadow {
	background-color: black;
	opacity: .7;
	z-index: 15;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	display: none;
}

.counted-fix.visible-md:nth-child(2n) {
	display: none !important;
}

.device-container {
	padding-top: 60px;
}

.error {
	display: none;
	font-size: 2em;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.counted-fix.visible-lg {
		display: none !important;	
	}

	.counted-fix.visible-lg:nth-child(9n) {
		display: block !important;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}