<!DOCTYPE html>
<html>

<head>
<% include ../partials/templates/head.ejs %>
</head>

<body id="<%= pageId %>">



<% include ../partials/templates/scripts.ejs %>
<script type="text/javascript">
</script>

</body>

</html>