<!DOCTYPE html>
<html>

<head>
<% include ../partials/templates/head.ejs %>
</head>

<body id="<%= pageId %>">

<div class="container">
    <h5>Current Site: None</h5>
    <form class="switcher-form">
        <div class="form-group">
            <button data-href="clock" class="btn btn-default pull-left alt-submit">Time</button>           
        </div>
        <div class="form-group">
            <label for="url"></label>
            <input type="text" class="form-control" id="url" placeholder="input url">
        </div>
        <div class="form-group">
            <button class="btn btn-default pull-left alt-submit" id="switcher-submit">Change</button>
        </div>
    </form>
</div>

<div id="user-id-cont" style="display:none"><%= userID %></div>

<% include ../partials/templates/scripts.ejs %>
<script type="text/javascript">
</script>

</body>

</html>