<!DOCTYPE html>
<html style="overflow: hidden;">

<head>
<% include ../partials/templates/head.ejs %>
</head>

<body id="<%= pageId %>">

<iframe src="/random2" frameborder="0">

</iframe>

<% ../include partials/templates/scripts.ejs %>
<script type="text/javascript">
</script>

</body>

</html>