<!DOCTYPE html>
<html style="overflow: hidden;">

<head>
<% include ../partials/templates/head.ejs %>
</head>

<body id="<%= pageId %>">

<div id="viewer-content"></div>

</div>

<div id="user-id-cont" style="display:none"><%= userID %></div>

<script type="text/javascript">
    var socketTarget = "<%= socketTarget %>";
</script>
<% include ../partials/templates/scripts.ejs %>

</body>

</html>