<!DOCTYPE html>
<html style="overflow: hidden;">

<head>
<% include ../partials/templates/head.ejs %>
</head>

<body id="<%= pageId %>">

<div class="loader"><div class="vertical-center horizontal-center"></div></div>

<div class="viewer-content viewer1"></div>

<div class="viewer-content viewer2"></div>

</div>

<div id="user-id-cont" style="display:none"><%= userID %></div>

<script type="text/javascript">
    var socketTarget = "<%= socketTarget %>";
</script>
<% include ../partials/templates/scripts.ejs %>

</body>

</html>